{% extends 'base.html' %} {% block head %}

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% load static %}
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="{% static 'css/login.css'%}" />
<link rel="stylesheet" href="{% static 'css/button.css'%}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'javascript/register.js'%}"></script>
{% endblock %} {% block body %}
<section class="login-form">
  <form method="POST" action="{% url 'accounts:login' %}">
    {% csrf_token %}
    <div class="int-area">
      <input
        type="text"
        name="username"
        id="username"
        autocomplete="off"
        required
        oninput="this.value = this.value.replace(/[^a-zA-Z0-9.]/g, '').replace(/(\..*)\./g, '$1');"
      />
      <label for="id">ID</label>
    </div>
    <div class="int-area">
      <input
        type="password"
        name="password"
        id="password"
        autocomplete="off"
        required
      />
      <label for="pw">PASSWORD</label>
    </div>
    <div class="btn-area">
      <button type="submit" class="custom-btn btn-9">로그인</button>
    </div>
    <div class="btn-area">
      <button
        type="button"
        class="custom-btn btn-9"
        onclick="location.href='{% url 'accounts:register'%}'"
      >
        회원가입
      </button>
    </div>
  </form>
</section>
{% endblock %}
