{% extends 'base.html' %} {% block head %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/button.css'%}">
    <link rel="stylesheet" href="{% static 'css/register.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    {% endblock %}

{% block body %}
<div class="info-box">
    <div class="info">
        <ul>
            <li>아이디</li>
            <li>{{user.username}}</li>
        </ul>
        <hr>
        <!-- <ul>
            <li>비밀번호</li>
            <li>{{user.password}}</li>
        </ul> -->
        <ul>
            <li>이름</li>
            <li>{{user.name}}</li>
        </ul>
        <hr>
        <form method="POST" action="{% url 'accounts:info_change' %}" style="margin-top:0px">
         {% csrf_token %}
        <ul class="int-area">
            <li>닉네임</li>
            <li><input style="width:100%; " class="with-button" type="text" name="nickname" id="nickname" autocomplete="off" required></li>
        </ul>
        <hr>
        <ul class="int-area">
            <li>기본 배송지</li>
            <li>
                <input type="text" placeholder="주소" id="address_kakao" name="address" readonly>
                <input style="margin-top:10px;" type="text" placeholder="상세주소" name="address_detail">
            </li>
        </ul>
    </div>
    <button  id="change-info" type="submit" class="custom-btn btn-9" >정보수정완료</button>
</form>
</div>
    
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        window.onload = function(){
            document.getElementById("address_kakao").addEventListener("click", function(){ //주소입력칸을 클릭하면
                //카카오 지도 발생
                new daum.Postcode({
                    oncomplete: function(data) { //선택시 입력값 세팅
                        document.getElementById("address_kakao").value = data.address; // 주소 넣기
                        document.querySelector("input[name=address_detail]").focus(); //상세입력 포커싱
                    }
                }).open();
            });
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
{% endblock %}
