{% extends 'base.html' %} {% block head %}

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% load static %}
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="{% static 'css/button.css'%}" />
<link rel="stylesheet" href="{% static 'css/style.css'%}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  {% if context %}
  alert("닉네임이 중복되었습니다.")
  {% endif %}
</script>
{% endblock %} {% block body %}
<div class="info-box">
  <div class="info">
      <ul>
          <li>아이디</li>
          <li>{{user.username}}</li>
      </ul>
      <hr>
      <ul>
          <li>이름</li>
          <li>{{user.name}}</li>
      </ul>
      <hr>
      <ul>
          <li>닉네임</li>
          <li>{{user.nickname}}</li>
      </ul>
      <hr>
      <ul>
          <li>주소</li>
          <li>{{user.address}} {{user.address_detail}}</li>
      </ul>

     
  </div>

  <!-- {% comment %}
  <li>비밀번호: {{user.password}}</li>
  {% endcomment %} -->
  <button
  id="change-info"
  type="button"
  class="custom-btn btn-9"
  onclick="location.href='{% url 'accounts:info_change' %}'"
>
  정보수정
  </button>
</div>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
  crossorigin="anonymous"
></script>
{% endblock %}
