{% extends 'base.html' %} {% block head %}

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% load static %}
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="{% static 'css/button.css'%}" />
<link rel="stylesheet" href="{% static 'css/register.css'%}" />
<link rel="stylesheet" href="{% static 'css/style.css'%}" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'javascript/register.js'%}"></script>
{% endblock %} {% block body %}
<section class="register-form">
  <form method="POST" action="{% url 'accounts:register' %}">
    {% csrf_token %}
    <div class="int-area" style="width: 110%">
      <p>아이디</p>
      <input
        class="with-button"
        type="text"
        placeholder="ID"
        name="username"
        id="username"
        autocomplete="off"
        required
        oninput="this.value = this.value.replace(/[^a-zA-Z0-9.]/g, '').replace(/(\..*)\./g, '$1');"
      />
    </div>
    <div class="int-area" style="width: 110%">
      <p>닉네임</p>
      <input
        class="with-button"
        type="text"
        placeholder="NICKNAME"
        name="nickname"
        id="nickname"
        autocomplete="off"
        required
      />
    </div>
    <div class="int-area">
      <p>비밀번호 (6~16자, 특수문자 포함)</p>
      <input
        type="password"
        placeholder="PASSWORD"
        name="password"
        id="password"
        autocomplete="off"
        onchange="check_pw()"
        required
      />
    </div>
    <div class="int-area">
      <p>비밀번호 확인</p>
      <input
        type="password"
        placeholder="PASSWORD"
        name="confirm"
        id="confirm"
        autocomplete="off"
        onchange="check_pw()"
        required
      />
      <span id="check"></span>
    </div>
    <div class="int-area">
      <p>이름</p>
      <input
        type="text"
        placeholder="NAME"
        style="ime-mode: active"
        name="name"
        id="name"
        autocomplete="off"
        required
        oninput="this.value =
      this.value.replace(/[^ㄱ-힣.]/g, '').replace(/(\..*)\./g, '$1');"
      />
    </div>
    <div class="int-area" style="width: 107%">
      <p>Email</p>
      <input
        class="with-button"
        placeholder="E-Mail"
        type="text"
        name="email"
        id="email"
        placeholder="Email 입력"
        onfocus="this.placeholder=''"
        onblur="this.placeholder='전화번호 입력'"
        autocomplete="off"
      />
    </div>
    <div class="int-area">
      <p>주소</p>
      <input
        type="text"
        placeholder="주소"
        id="address_kakao"
        name="address"
        readonly
      />
      <input
        type="text"
        placeholder="상세주소"
        name="address_detail"
        style="margin-top: 20px"
      />
    </div>
    <div class="btn-area">
      <button type="submit" class="custom-btn btn-9">가입하기</button>
    </div>
  </form>
</section>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
  window.onload = function () {
    document
      .getElementById("address_kakao")
      .addEventListener("click", function () {
        //주소입력칸을 클릭하면
        //카카오 지도 발생
        new daum.Postcode({
          oncomplete: function (data) {
            //선택시 입력값 세팅
            document.getElementById("address_kakao").value = data.address; // 주소 넣기
            document.querySelector("input[name=address_detail]").focus(); //상세입력 포커싱
          },
        }).open();
      });
  };
</script>
{% if message %}
<script>
  alert("{{ message }}");
</script>
{% endif %} {% endblock %}
