{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>Document</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {% block head %} {% endblock %}
  </head>
  <body>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'home:intro' %}">WEITER</a>
      </li>
      <li class="intro">
        <a onclick="history.back()" style="cursor: pointer">&lt BACK</a>
      </li>
      <li class="myInfo">
        <a class="" href="{% url accounts:myInfo %}">내정보</a>
      </li>
      <li class="order-list">
        <a class="" href="{% url accounts:myInfo %}">주문내역</a>
      </li>
    </ul>
    {% block body %} {% endblock %}
  </body>
</html>
