{% extends 'base.html' %} {% block head %} {% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" href="{% static 'css/button.css' %}" />

{% endblock %} {% block body %}
<div class="board_wrap">
  <ul>
    <li>번호</li>
    <li>가게명</li>
    <li>작성자</li>
    <li>작성날짜</li>
    <li>주문상태</li>
  </ul>
  {% for order in orders %}
  <div class="uploaded">
    <a href="{% url 'order:detail' order.id %}">
      <ul>
        <li>{{order.id}}</li>
        <li>{{order.store}}</li>
        <li>{{order.author}}</li>
        <li>{{order.create_at}}</li>
        <li>{{order.state}}</li>
      </ul>
    </a>
  </div>
  {% endfor %}
  <button
    type="button"
    class="custom-btn btn-9"
    onclick="location.href='{% url 'order:menu' %}'"
  >
    글쓰기
  </button>
  <div class="pagination">
    {% if orders.has_previous %}
    <a href="?page=1">처음으로</a>
    <a style="margin-right: 40px" href="?page={{orders.previous_page_number}}"
      >이전</a
    >
    {% endif %}

    <span>{{ orders.number }}</span>
    <span>/</span>
    <span>{{orders.paginator.num_pages }}</span>

    {% if orders.has_next %}
    <a style="margin-left: 40px" href="?page={{orders.next_page_number}}"
      >다음</a
    >
    <a href="?page={{orders.paginator.num_pages}}">마지막으로</a>
    {% endif %}
  </div>
</div>
{% endblock %}
