{% extends 'base.html' %} {% block head %} {% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
{% endblock %} {% block body %}

<main>
  <div class="menu-box">
    <div class="menu-line">
      <div class="menu-wrap">
        <div
          class="menu"
          style="background-image: url({% static 'img/icons/pizza.png' %})"
          onclick="location.href='{% url 'order:stores' '피자' %}';"
        ></div>
        <p>피자</p>
      </div>
      <div class="menu-wrap">
        <div
          class="menu"
          style="background-image: url({% static 'img/icons/burger.png' %})"
          onclick="location.href='{% url 'order:stores' '패스트푸드' %}';"
        ></div>
        <p>패스트푸드</p>
      </div>
      <div class="menu-wrap">
        <div
          class="menu"
          style="background-image: url({% static 'img/icons/spaghetti.png' %})"
          onclick="location.href='{% url 'order:stores' '양식' %}';"
        ></div>
        <p>양식</p>
      </div>
      <div class="menu-wrap">
        <div
          class="menu"
          style="background-image: url({% static 'img/icons/cupcake.png' %})"
          onclick="location.href='{% url 'order:stores' '카페·디저트' %}';"
        ></div>
        <p>카페·디저트</p>
      </div>
    </div>
    <div class="menu-line">
      <div class="menu-wrap">
        <div
          class="menu"
          style="background-image: url({% static 'img/icons/nigiri.png' %})"
          onclick="location.href='{% url 'order:stores' '돈까스·회·일식' %}';"
        ></div>
        <p>돈까스·회·일식</p>
      </div>
      <div class="menu-wrap">
        <div
          class="menu"
          style="background-image: url({% static 'img/icons/tteok.png' %})"
          onclick="location.href='{% url 'order:stores' '분식' %}';"
        ></div>
        <p>분식</p>
      </div>
      <div class="menu-wrap">
        <div
          class="menu"
          style="background-image: url({% static 'img/icons/korean.png' %})"
          onclick="location.href='{% url 'order:stores' '백반·죽·국수' %}';"
        ></div>
        <p>백반·죽·국수</p>
      </div>
      <div class="menu-wrap">
        <div
          class="menu"
          style="background-image: url({% static 'img/icons/boil.png' %})"
          onclick="location.href='{% url 'order:stores' '찜·찌개·탕' %}';"
        ></div>
        <p>찜·찌개·탕</p>
      </div>
    </div>
    <div class="menu-line">
      <div class="menu-wrap">
        <div
          class="menu"
          style="background-image: url({% static 'img/icons/barbecue.png' %})"
          onclick="location.href='{% url 'order:stores' '고기·구이' %}';"
        ></div>
        <p>고기·구이</p>
      </div>
      <div class="menu-wrap">
        <div
          class="menu"
          style="background-image: url({% static 'img/icons/noodles.png' %})"
          onclick="location.href='{% url 'order:stores' '중식' %}';"
        ></div>
        <p>중식</p>
      </div>
      <div class="menu-wrap">
        <div
          class="menu"
          style="background-image: url({% static 'img/icons/jokbal.png' %})"
          onclick="location.href='{% url 'order:stores' '족발·보쌈' %}';"
        ></div>
        <p>족발·보쌈</p>
      </div>
      <div class="menu-wrap">
        <div
          class="menu"
          style="background-image: url({% static 'img/icons/fried-chicken.png' %})"
          onclick="location.href='{% url 'order:stores' '치킨' %}';"
        ></div>
        <p>치킨</p>
      </div>
    </div>
  </div>
</main>

{% endblock %}
