{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/button.css'%}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="">WEITER</a>
        </li>
    </ul>
    <div class="text-box">
        <h1>W<span class="word">E</span><span class="word">A</span></h1><h1 style="margin-left:36px">ITER</h1>
        <!-- <span class="text"></span><span class="blink">|</span> -->
        
        
        <br/><br/>
        <span class="fadein 0" style="font-size:35px;"><bold >WE ARE ALL EATER!!</bold></span>
        <br/><br/>
        <span class="fadein 1">나만의 <bold>WAITER</bold>, 이름하여 <bold>WE(b)ITER</bold> 웨이터</span><br/><br/>
        <span class="fadein 2">당신의 손짓 하나로 친구들의 메뉴까지 한번에 알려주는</span><br/>
        <span class="fadein 3">당신만의 스마트한 웹서비스.</span><br/>
        <span class="fadein 4">우리는 <bold>WE(b)ITER 입니다.</bold></span>
    </div>
    <div class="btns" style="top:63%;">
        <button type="button" class="custom-btn btn-9" onclick="location.href='{% url 'login' %}'">시작</button>
    </div>

    <script src="./script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>
