<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="./button.css">
    <link rel="stylesheet" href="./style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>
    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="./index.html">WEITER</a>
        </li>
        <li class="intro">
            <a onclick="history.back()" style="cursor:pointer;">&lt BACK</a>
        </li>
        <li class="myInfo">
            <a href="./myInfo.html">내정보</a>
        </li>
    </ul>
    <div class="info-box">
        <ul class="info">
            <li>아이디: likelion1234</li>
            <li>비밀번호: </li>
            <li>이름: 홍길동</li>
            <li>닉네임: 멋쟁이사자처럼</li>
            <li>주소: 서울특별시 성북구 정릉로 77 (정릉동)</li>
        </ul>
        <button id="change-info" type="button" class="custom-btn btn-9" onclick="location.href='myinfo-modify.html'">정보수정</button>
        <button id="change-info" type="button" class="custom-btn btn-9" onclick="location.href='order_list.html'">주문내역</button>
    </div>
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>