<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="./button.css">
    <link rel="stylesheet" href="./register.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="register.js"></script>

    <title>Register</title>
</head>
<body>
    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="index.html">WEITER</a>
        </li>
        <li class="intro">
            <div><a class="" href="./login.html">&lt LOGIN</a></div>
        </li>
    </ul>
    <section class="register-form">
        <form method="POST" action="{% url 'accounts:register' %}">
            {% csrf_token %}
            <div class="int-area" style="width:110%;">
                <p>아이디</p>
                <input class="with-button" type="text" value="likelion1234" name="id" id="id" autocomplete="off" required  oninput="this.value = this.value.replace(/[^a-zA-Z0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                <button type="submit" class="custom-btn btn-9">중복확인</button>
            </div>
            <div class="int-area" style="width:110%;">
                <p>닉네임</p>
                <input class="with-button"type="text" value="멋쟁이사자처럼" name="nickname" id="nickname" autocomplete="off" required>
                <button type="submit" class="custom-btn btn-9">중복확인</button>
            </div>
            <div class="int-area">
                <p>비밀번호 (6~16자, 특수문자 포함)</p>
                <input type="password" value=".12341234" name="password" id="password" autocomplete="off" onchange="check_pw()" required>
            </div>
            <div class="int-area">
                <p>비밀번호 확인</p>
                <input type="password" value=".12341234" name="confirm" id="confirm" autocomplete="off" onchange="check_pw()" required>
                <span id="check"></span>
            </div>
            <div class="int-area">
                <p>이름</p>
                <input type="text" value="홍길동" style="ime-mode:active;" name="username" id="username" autocomplete="off" required oninput="this.value = this.value.replace(/[^ㄱ-힣.]/g, '').replace(/(\..*)\./g, '$1');">
            </div>
            <div class="int-area" style="width:107%;">
                <p>휴대전화</p>
                <input class="with-button" value="01012345678" type="text" name="phone" id="phone" placeholder="전화번호 입력" onfocus="this.placeholder=''" onblur="this.placeholder='전화번호 입력'" autocomplete="off" required  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"/>
                <button type="submit" class="custom-btn btn-9">인증하기</button>
                <input type="text" style="margin-top: 20px; width:400px;" name="phone" id="phone" placeholder="인증번호를 입력하세요" onfocus="this.placeholder=''" onblur="this.placeholder='인증번호를 입력하세요'" autocomplete="off" />
            </div>
            <div class="int-area">
                <p>주소</p>
                <input type="text" value="서울특별시 성북구 정릉로 77 (정릉동)" style="ime-mode:active;" name="username" id="username" autocomplete="off" required oninput="this.value = this.value.replace(/[^ㄱ-힣.]/g, '').replace(/(\..*)\./g, '$1');">
            </div>
            <div class="btn-area">
                <button type="button" class="custom-btn btn-9" onclick="location.href='login.html'">가입하기</button>
            </div>
        </form>
    </section>

</body>
</html>