@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.nav{
    position: fixed;
    display: block;
}
.nav a{
    color:black;
    font-size: 45px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-item{
    margin:15px;
}
.nav-item a:hover{
    color:black;
}
.intro{
    margin-left: 100%;
}
.intro div{
    width: 200px;
}
.intro a{
    font-size: 30px;
}

.text-box{
    position: absolute;
    top:40%;
    left:20%;
    font-size: 1.5rem;
}
.blink{
    animation:blink 0.5s infinite;
    font-size: 1.7rem;
}
@keyframes blink{
    to{
        opacity: 0;
    }
}



/*------------------------------menu.html-----------------------*/
main{
    padding-top: 100px;
}

.menu-box{
    width: 50%;
    margin: auto;
    margin-top: 56px;
    background-color: white;
}

.menu-line{
    width: 100%;
    display: flex;
    margin-top: 20px;
}
.menu-wrap{
    width: 17%;
    height: 100%;
    margin: auto;
    
}

.menu-wrap p{
    margin-top: 15px;
    text-align: center;
    font-family: "KOTRAHOPE";
    font-size: 15px;
    font-weight: bold;
}

.menu {
    background-color: white;
    width: 100%;
    padding-bottom: 100%;
    border-radius: 50%;
    margin-top : 10%;
    border: 1px solid black;
    transition: all 0.3s ease-in-out;   /* 부드러운 모션을 위해 추가*/
    overflow: hidden;
    cursor: pointer;
    background-size: 100%;
}

.menu:hover {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}


/*-------------------------res_list-------------------------*/
#main {
    margin-top: 90px;  
    font-family: 'Noto Sans KR', sans-serif; 
}

#main > ul {
    text-align: center;
}

#main > ul > .box {
    display: inline-block;
    margin-right: 50px;
    margin-bottom: 20px;
    background-color: #EBEAEA;
    border-radius: 15px;
    border: 2px solid black;
    width: 230px;
    height: 220px;
}

#main > ul > .box > button{
    color: black;
}
#main > ul > li > .img {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    width: 210px;
    height: 110px;
    border: 1px solid black;
    margin: auto;
    margin-top: 10px;

    text-align: center;
    line-height: 100px;
}

.data{
    margin-top: 10px;
    font-size: 13px;
}

.data > ul {
    text-align: center;
    float: left;
}

.data > ul > li {
    float: left;
    margin-right: 20px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;    
}
.pagination{
    color:black;
}


/*-------------------------store select-------------------------*/

.menuPage {
    background-color: white;
    width: 50%;
    margin: auto; 
    margin-bottom: 50px;
}

.storeData {
    margin-bottom: 50px;
}

p {
    margin:0;
    font-size: 15.3px;
    font-family: 'Noto Sans KR', sans-serif;
}
.foodName {
    font-size: 16.5px;
}

.sideInfo {
    font-size: 13px;
    color: #555555;
}
.accordion {
    border-radius: 0rem;
}

.accordion-button {
    background-color: #EBEAEA;
    color: black;
}

.accordion-button.collapsed {
    color: black;

}

.accordion-body {
    padding: 0;
}

.food {
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #c1c1c1 ;
    
}

.follow_wrap {
    z-index: 999;
    font-family: 'Noto Sans KR', sans-serif;
    
}
.follow {
    position: fixed;
    width: 300px;
    height: 500px;
    top: 70px;
    right: 35px;
    background-color: white;
}

.top,
.order {
    font-size: 13.5px;
    height: 50px;
    background-color: #555555;
    position: sticky;
    color: white;
    padding: 15px;
    font-weight: 100;
}

.follow_content {
    padding: 15px;
}

.person,
.min {
    width: 50px;
    height: 20px;
    font-size: 15.3px;
}

.order {
    text-align: center;
}

.order a {
    position: relative;
    text-decoration: none;
    color: white;
    padding-bottom: 2px;
}

.order a:before {
    content: '';
    position: absolute; /*부모 요소에는 position: relative를 주어야 한다.*/
    background-color: white;
    height: 1px; /*밑줄 굵기*/

    width: 0; /*초기에 보이지 않도록*/
    bottom: 0; /*a태그 아래에 위치시키기*/
    transition: 0.7s; /*애니메이션 동작 실행 시간 정의*/

    /*가상 요소를 가운데로 이동시키기*/
    left: 50%;
    transform: translateX(-50%) ;
}

.order a:hover:before {
    width: 100%;
}