* {
    list-style-type: none;
    text-decoration: none;
    color: inherit;
}

body{
    width: 100%;
    height: 100%;
    background-color: white;
    color: rgb(0, 0, 0);
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: 600;
}


/*사이드바*/

#header {
    position: relative;
}

#check-label { 
    position: absolute;
    z-index:9999;
    right: 5px;
    top: 45px;
    line-height: 80px;
    padding: 0 30px;
    cursor: pointer;
}
.sidebar {
    height: 100%;
    position: absolute; 
    top: 0px;
    right: 0;
    display: block; 
    background-color: rgb(255, 233, 109);
    display: flex;
    width: 500px;
    height: 700px;
    
        
    flex-direction: column;
    transform: translatex(100%);
    transition: transform 0.4s ease-in-out;
}
#check-btn {
     display:none;
}
#check-btn:checked ~ .sidebar {
      transform: translateX(0px)
}

.sidebar__animation {
    margin-top: 90px;
}
.sidebar__animation > li {
    float: none;

}
/*주소*/

.address{
    display: flex;
    width: 25%;
    margin: 20px;
    margin-left: 60px;
}


.address input{
    width: 90%;
    padding: 20px 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    font-size: 18px;
    outline: none;
}

.address div{
    width:10%;
}
.btn-area button {
    background-color: white;
    width: 100%;
    height: 50px;
    margin: 0px 10px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
}


/* 식당 목록 */

#main {
    margin-top: 170px;
}

#main > ul {
    text-align: center;
    
}

#main > ul > .box {
    display: inline-block;
    margin-right: 50px;
    margin-bottom: 20px;
    background-color: rgb(220, 220, 220);
    border-radius: 15px;
    width: 250px;
    height: 200px;
}

#main > ul > li > .img {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    width: 230px;
    height: 120px;

    margin: auto;
    margin-top: 10px;

    text-align: center;
    line-height: 100px;
}

.data{
    margin-top: 10px;
    font-size: 13px;
}

.data > ul {
    float: left;
    margin
}

.data > ul > li {
    float: left;
    margin-right: 20px;
}

.pagination {
    text-align: center;
    margin: 30px;
}


