@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form h1{
    font-style: 32px;
    text-align: center;
    margin-bottom: 50px;
}

.int-area{
    width: 400px;
    position: relative;
    margin-top: 20px;
}

.int-area:first-child{
    margin-top: 0;
}

.int-area input{
    width: 100%;
    padding: 20px 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    font-size: 18px;
    outline: none;
}

.int-area label{
    position: absolute;
    left: 10px;
    top: 15px;
    font-style: 18px;
    transition: top 0.5s ease;
}
  
.int-area input:focus + label,
.int-area input:valid + label {
    top: -2px;
    font-size: 13px;
    color: #166caa;
}
.btn-area {
    margin-top: 30px;
}
  
.btn-area button {
    width: 100%;
    height: 50px;
    margin: 0px 10px;
    color: #fff;
    background: #4f8aac;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
}

.caption {
    margin-top: 20px;
    text-align: center;
}

.caption a {
    margin: 0 20px;
    font-size: 15px;
    color: rgb(0, 43, 54);
    text-decoration: none;
}