/* 필터링 검색 */

.filtering {
    display: flex;
    margin-top: 100px;
    justify-content : center;
    font-family: 'Noto Sans KR', sans-serif;
    
}
.filtering label{
    font-weight: 900;
    font-size: 20px;
}
.filtering > #category, label {
    margin-right: 20px;
}

.filtering > select {
    width:150px;
    padding:5px;
    height: 30px;
    font-size: 14px;
    border:1px solid #999;
    font-family:'Nanumgothic';
    border-radius:3px;
/* [출처] html css select 셀렉트 박스 디자인 변경하기|작성자 반짝이는 와이프 */
}

.filtering_button {
    width: 40px;
    padding:5px;
    height: 31px;
    border:1px solid #999;
    font-family:'Nanumgothic';
    font-size: 14px;
    border-radius:3px;
    text-align: center;
    margin-left: 10px;
    cursor: pointer;

}
/* 게시글 목록 */
.writing_wrap {
    margin-top: 20px;
}

.writing {
    margin: auto;
    width: 700px;
    height: 50px;
    transition: all 0.3s;
    border-radius: 20px;
    background-color: rgb(240, 240, 240);

}
.writing a{
    color: black;
    
}

.writing:hover {
    background-color: #c9c9c9;
    width: 705px;
    height: 55px;
    
}

.주문완료 {
    text-align: center;
    width: 60px;
    height: 30px;
    font-size:13px;
    line-height: 30px;
    background-color: rgb(129, 173, 250);
    border-radius: 10px;
}

.주문중 {
    text-align: center;
    width: 60px;
    height: 30px;
    line-height: 30px;
    font-size:13px;
    background-color: rgb(244, 96, 96);
    border-radius: 10px;
}



.writing > a > h5 {
    display: inline-block;
    margin: 10px;
    color:black;
    font-size: 16px;
    font-weight: 900;
}

.count {
    padding-left: 10px;
}




