@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@font-face {
    font-family: 'KOTRAHOPE';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body{
    overflow-x:hidden;
    overflow-y:auto;
}

.top-nav{
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.logo-box{
    margin: 1%;
}
.logo-box a{
    width:13%;
}
.logo-box img{
    width: 100%;
}
.top-nav a{
    display: block;
    float: left;
    font-size: 20px;
    font-weight: 800;
    line-height: 80px;
    padding: 0 10px;
    text-decoration: none;
    color: #4a4a4a;
}


.top-nav ul{
    float: right;
}
.top-nav ul li{
    float: left;
    padding: 0 30px;
    line-height: 80px;
}

.line{
    font-weight: 100;
    color:rgb(209, 209, 209)
}



main{
    padding-top: 150px;
    
}

.address{
    display: flex;
    width: 25%;
    margin: 20px;
    margin-left: 60px;
}


.address input{
    width: 90%;
    padding: 20px 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    font-size: 18px;
    outline: none;
}

.address div{
    width:10%;
}
.btn-area button {
    background-color: white;
    width: 100%;
    height: 50px;
    margin: 0px 10px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
}

.menu-box{
    width: 70%;
    margin: auto;
    margin-top: 56px;
    background-color: #f2bb16;
}

.menu-line{
    width: 100%;
    display: flex;
    margin-top: 20px;
}
.menu-wrap{
    width: 17%;
    height: 100%;
    margin: auto
}

.menu-wrap p{
    text-align: center;
    font-family: "KOTRAHOPE";
    font-size: 25px;
}

.menu {
    background-color: white;
    width: 100%;
    padding-bottom: 100%;
    border-radius: 50%;
    margin-top : 15%;
    border: 3px solid white;
    transition: all 0.3s ease-in-out;   /* 부드러운 모션을 위해 추가*/
    overflow: hidden;
    cursor: pointer;
}

.menu:hover {
    transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}